/* tailwind delaratives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* import poppins font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* defaults */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.react-daterange-picker__wrapper {
  border: none !important;
}
.react-daterange-picker__button {
  display: none !important;
}
